@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

body {
  background-color: #F1EEE9;
  font-family: 'Indie Flower', serif;
}

.nav_menu {
  padding .5em;
  text-decoration: none;
  float: right;
}

.nav_menu li {
  padding: .5em;
  color:  #090768;
  display: inline-block;
  list-style-type: none;
  font-family: 'Indie Flower', serif;
}


.login_menu{
  display: block;
  /*margin: auto;*/
  text-align: center;
width: 100%;
height: 100%;
}

.login_menu ul {
  padding: 0;
  margin: 0;
}
.login_menu li{
  list-style-type: none;
  color: #090768;
}

.sign_up{
    border: 2px solid #090768;
  background-color: #F1EEE9;
  color: #090768;
  font-family: 'Indie Flower', serif;

}

.button {
  color: #090768;
  font-family: 'Indie Flower', serif;
  padding: .5em;
}

.home_log_in {
  border: 2px solid #090768;
  background-color: #F1EEE9;
  color: #090768;
  font-family: 'Indie Flower', serif;
  display: inline;
}


.header_image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  vertical-align: center;
  text-align: center;
width: 42%;
height: 42%;
}

.container {
display: block;
  margin-left: auto;
  margin-right: auto;
  /*vertical-align: center;*/
  text-align: center;
  font-family: 'Indie Flower', serif;
}

form label{
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 1em;
  font-family: 'Indie Flower', serif;
}

form input{
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  text-align: left;
}

#submit {
  text-align: center;
}

#submit:hover {
  color:#00FFBF;
  background-color: #090068;
}

@media (min-width: 320px) and (max-width: 567px){
.nav_menu ul {
  display: none;
}

@media (min-width:568px) {
 .nav_menu select, .nav_menu button {
  display: none;
 }
}
form p label{
  font-family: 'Indie Flower', serif;
  font-size: 1em;
}