<div class ="login_menu">
  <ul>
    <li><form action="/user/logged_in" method="post"><input class="home_log_in" type="text" name="username" placeholder="Username">
        <input class="home_log_in" type="password" name="password" placeholder="Password">
        <input class="button" type="Submit" value="Log in!">
      </form></li>
      <li><form action="/user/new" method="get">
        <input class="button" type="Submit" value="Sign up!">
      </form></li>
  </ul>
</div>

<div class="header_image">
  <img src="/img/logo.png"/>
</div>