<div class= "container">
<form action='/user/signed_up' method="post">
  <input class="sign_up" type="text" name="name" placeholder="Name">
  </br>
  </br>
  <input class="sign_up" type="text" name="email" placeholder="Email">
  </br>
  </br>
  <input class="sign_up" type="text" name="username" placeholder="Username">
  </br>
  </br>
  <input class="sign_up" type="password" name="password" placeholder="Password">
  </br>
  </br>
  <input class="button" type="Submit" value="Sign up!">
      </form>
      </div>