<div class="nav_menu">
  <ul>
   <li><a href="/">profile</a></li>
    <li><a href="/">account</a></li>
    <li><a href="/user/logged_out">log out</a></li>
  </ul>
</div>



  Artist or Song:&nbsp;<input id="txt1">&nbsp;
  <input type= "button" value= "Search" onclick= "searchQ()">
  <br><br>
<div id="search-box">
  </div>
  <br>
  <div id="player"></div>
  <div id="vtitle" ></div>
  <br><br>

