<div class="nav_menu">
  <ul>
   <li><a href="/">profile</a></li>
    <li><a href="/">account</a></li>
    <li><a href="/user/logged_out">log out</a></li>
  </ul>
</div>

 <div id="buttons">
    <label> <input id="query" value='cats' type="text"/><button id="search-button" onclick="search()">Search</button></label>
  </div>
  <div id="search-container">
  </div>